 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/06puerto-rico-beaches--07-superJumbo.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 698px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  letter-spacing: 0px;
  font-weight: 300;
  margin: 59px auto 0 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 700;
  margin: 20px 570px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-1 .u-text-2 {
    width: 587px;
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 57.55% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 247px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 436px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 67px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 256px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 208px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-right: 56px;
  }
}.u-block-62d4-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-62d4-3 {
  position: absolute;
  left: 0;
}

.u-block-62d4-4 {
  position: absolute;
  right: 0;
}

 .u-section-2-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Jobos-Beach-RIncon-Puerto-Rico-1024x576.jpeg");
  background-position: 50% 50%;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-1 .u-text-1 {
  margin: 249px auto 0 0;
}

.u-section-2-1 .u-text-2 {
  margin: 24px 592px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-1 .u-text-2 {
    margin-right: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-1 .u-text-2 {
    margin-right: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-2-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/Sunset_at_Marias_Beach_Rincon_Puerto_Rico.jpeg");
}

.u-section-2-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-2 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-2-2 .u-text-2 {
  margin: 24px 492px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-2 .u-text-2 {
    margin-right: 292px;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-2 .u-text-2 {
    margin-right: 72px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-2-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/00-puertorico-2019-punta-higuero-lighthouse-HWDCMM.webp");
  background-position: 50% 50%;
}

.u-section-2-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-3 .u-text-1 {
  margin: 239px 61px 0 auto;
}

.u-section-2-3 .u-text-2 {
  margin: 50px 22px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-3 .u-text-2 {
    margin-right: 0;
    margin-left: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-3 .u-text-2 {
    margin-left: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-2-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/download5.jpeg");
  background-position: 50% 50%;
}

.u-section-2-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-4 .u-text-1 {
  margin: 282px 42px 0 auto;
}

.u-section-2-4 .u-text-2 {
  margin: 14px 42px 60px 550px;
}

@media (max-width: 1199px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-4 .u-text-2 {
    margin-left: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-4 .u-text-2 {
    margin-left: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-4 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2-4 .u-text-2 {
    margin-right: 0;
  }
}

 .u-section-2-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/f3569d2bd546e83a8ffdb4e5a565c231.jpeg");
  background-position: 50% 50%;
}

.u-section-2-5 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-5 .u-text-1 {
  margin: 247px auto 0 35px;
}

.u-section-2-5 .u-text-2 {
  margin: 35px 557px 60px 35px;
}

@media (max-width: 1199px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-5 .u-text-2 {
    margin-right: 357px;
  }
}

@media (max-width: 991px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-5 .u-text-2 {
    margin-right: 137px;
  }
}

@media (max-width: 767px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-2-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/Rincon3.jpeg");
  background-position: 50% 50%;
}

.u-section-2-6 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-6 .u-text-1 {
  margin: 247px auto 0 35px;
}

.u-section-2-6 .u-text-2 {
  margin: 35px 557px 60px 35px;
}

@media (max-width: 1199px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-6 .u-text-2 {
    margin-right: 357px;
  }
}

@media (max-width: 991px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-6 .u-text-2 {
    margin-right: 137px;
  }
}

@media (max-width: 767px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-6 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-2-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/191-3-7727_jpeg0-8b6021995056a36_8b6023df-5056-a36a-083f6e90dfefd0c7.jpeg");
  background-position: 50% 50%;
}

.u-section-2-7 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-7 .u-text-1 {
  margin: 215px 0 0 auto;
}

.u-section-2-7 .u-text-2 {
  margin: 37px 0 60px 592px;
}

@media (max-width: 1199px) {
  .u-section-2-7 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-7 .u-text-2 {
    margin-left: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-2-7 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-7 .u-text-2 {
    margin-left: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-2-7 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-7 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2-7 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-2-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/rincon_protests_3.jpeg");
  background-position: 50% 50%;
}

.u-section-2-8 .u-sheet-1 {
  min-height: 921px;
}

.u-section-2-8 .u-text-1 {
  margin: 78px 592px 0 0;
}

.u-section-2-8 .u-text-2 {
  margin: -415px 203px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2-8 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-2-8 .u-text-1 {
    margin-right: 392px;
  }

  .u-section-2-8 .u-text-2 {
    margin-top: -401px;
  }
}

@media (max-width: 991px) {
  .u-section-2-8 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-2-8 .u-text-1 {
    margin-right: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-2-8 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-2-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2-8 .u-text-2 {
    margin-right: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-2-8 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-2-8 .u-text-2 {
    margin-right: 96px;
  }
}

 .u-section-2-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/San-Juan-to-Rincon-e1651328408272.jpeg");
  background-position: 50% 50%;
}

.u-section-2-9 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-9 .u-text-1 {
  margin: 246px 0 0 auto;
}

.u-section-2-9 .u-text-2 {
  margin: 69px 0 60px 592px;
}

@media (max-width: 1199px) {
  .u-section-2-9 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-9 .u-text-1 {
    margin-top: 217px;
  }

  .u-section-2-9 .u-text-2 {
    margin-top: 98px;
    margin-left: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-2-9 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-9 .u-text-2 {
    margin-bottom: 0;
    margin-left: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-2-9 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-9 .u-text-2 {
    margin-top: 111px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2-9 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2-9 .u-text-1 {
    margin-top: 345px;
  }

  .u-section-2-9 .u-text-2 {
    margin-top: -3px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1366px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 20px -3px 0 auto;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-line-1 {
  margin-top: 8px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-3 .u-text-2 {
  margin: 32px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 60px 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  padding: 0;
}